{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div id="center"><h1>{{ _('Bem-vindo a Dados Livres') }}</h1>
<p>Entre para acessar e colaborar com fontes de dados abertos e aplicações
  que fazem uso desse tipo de informação.</p></div><hr><br>
  <div id="formCenter">
    <div class="row">
        <div class="col-md-14">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
  </div></br><br>
    <div id="center">
    <p>{{ _('Esqueceu sua senha?') }}
      <a href="{{ url_for( 'auth.reset_password_request' ) }}">
        {{ _('Renomei sua senha') }}</a></p>
    <p>{{ _('Novo usuário?') }} <a href="{{ url_for( 'auth.register' ) }}">
      {{ _('Inscreva-se') }}</a></p></div>
{% endblock %}
s
