{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <h1 class="text-center">{{ _('Bem-vindo a Dados Livres') }}</h1>
  <p class="lead text-center">Entre para acessar e colaborar com fontes de dados abertos e aplicações
    que fazem uso desse tipo de informação.</p><br><br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-3"></div>
  </div><br><br>
  <p class="text-center">{{ _('Esqueceu sua senha?') }}
    <a href="{{ url_for( 'auth.reset_password_request' ) }}" id="color-red">{{ _('Renomei sua senha') }}</a><br>
    {{ _('Novo usuário?') }} <a href="{{ url_for( 'auth.register' ) }}" id="color-red">{{ _('Inscreva-se') }}</a></p>
<br><br>
{% endblock %}
