{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="text-center"><h1>{{ _('Fontes de Dados Abertos e Aplicações sobre Lazer') }}</h1>
<p class="lead">Encontre diversas fontes de dados abertos e aplicações sobre Lazer</p><hr></div><br><br>

<div class="row">
  <p><strong>Fontes de Dados Abertos</strong></p><br>
  {% for post in posts %}
    {% include '_post.html' %}<br>
  {% endfor%}
</div><br><br><br>
<div class="row">
  <p><strong>Aplicações</strong></p><br>
  {% for software in softwares %}
    {% include '_software.html' %}<br>
  {% endfor%}<br>
</div><br><br>

<br><br>
{% if prev_url %}
<a href="{{ prev_url }}">Ver mais recentes</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Ver mais antigos</a>
{% endif %}

{% endblock %}
