{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1 class="text-center">{{ _('Fontes de Dados Abertos e Aplicações sobre Meio Ambiente') }}</h1>
  <p class="lead text-center">Encontre diversas fontes de dados abertos e aplicações sobre Meio Ambiente</p><br><br><br>
  <div class="row">
    <div class="col-md-12 text-justify">
      <p class="lead"><strong>Fontes de Dados Abertos</strong></p><br>
      {% for post in posts %}
        {% include '_post.html' %}<hr><br>
      {% endfor%}<br><br><br>
      <p class="lead"><strong>Aplicações</strong></p><br>
      {% for software in softwares %}
        {% include '_software.html' %}<hr><br>
      {% endfor%}
    </div>
  </div><br><br><br><br>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h4><a class="topic-grid-item" href="{{ url_for('category.Cultura') }}" id="category-link">Cultura</a></h4>
    </div>
    <div class="col-md-4 col-sm-12">
      <h4><a class="topic-grid-item" href="{{ url_for('category.Educacao') }}" id="category-link">Educação</a></h4>
    </div>
    <div class="col-md-4 col-sm-12">
      <h4><a class="topic-grid-item" href="{{ url_for('category.Clima') }}" id="category-link">Clima</a></h4>
    </div>
  </div>
{% endblock %}
