@charset "UTF-8";

div#center {
  text-align: center;
}

a#color-titulo{
  color: #9d0208;
  text-decoration: underline;
}

a#font-color {
  color: #9d0208;
  text-decoration: underline;
}

footer {
  text-align: center;
}

p#italic {
  font-style: italic;
}

div img#imagem_user {
    float: left;
    border-radius: 6px;
    border: 1px solid #03071e;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}

div#overflow {
    max-height:400px;
    overflow-y:auto;
}
