@charset "UTF-8";

.container {
  margin-top:20px;
  margin-bottom:20px;
  font-family:cursive;
}

.centered {
  margin: 0 auto !important;
  float: none !important;
}

.dropdown-menu {
  padding: 15px;
  min-width: 320px;
}

.img-fluid {
  width: 40%;
  height: auto;
}

div img#imagem_user {
  float: left;
  margin: 20px 20px 20px 0;
  max-width: 120px;
}

p {
  font-size: 12pt;
}

.topic-grid-item {
  min-height: 75px;
  padding: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #370617;
  background-color: #FFFFFF;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 17px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.topic-grid-item:hover {
  transform: scale(1.001);
  cursor: pointer;
  transition: linear 20s all;
}

a#category-link {
  text-decoration: none;
  color: #9d0208;
}

a#color-red {
  text-decoration: none;
  color: #9d0208;
}

a#color-red:hover {
  text-decoration: none;
  border-bottom: dotted 1px rgba(88,88,88,0.5);
  color: #9d0208;
}

a#color-black{
  text-decoration: none;
  color: #03071E;
}

a#color-black:hover {
 border-bottom: dotted 1px rgba(88,88,88,0.5);
 color: #9d0208;
}

ul.separator {
  list-style: none;
  padding: 0;
  width: 100%;
}

ul.separator li {
  padding: .8em 0;
  border-bottom: 1px solid #CCC;
}

ul.separator li:last-child {
  border-bottom: 0;
}

ul.separator a {
  text-decoration: none;
  color: #03071E;
}

ul.separator a:hover {
  text-decoration: none;
  color: #9d0208;
}
