@charset "UTF-8";

footer {
  text-align: center;
}

a#font-color {
  color: #9d0208;
  text-decoration: underline;
}

h2 {
  color: #03071e;
}

a#color-titulo{
  color: #9d0208;
  text-decoration: underline;
}
