<table>
  <tr valign="top">
    <td>
      <h4><a href="{{ url_for('main.software', title=software.title) }}" id="color-titulo"> {{ software.title }}</a><br></h4>
      {{ software.license }}<br>
      {{ software.activeDevelopment }}<br>
      {{ software.description }}<br>
      <a href="{{ software.downloadLink }}" target="_blank">{{ software.downloadLink }}</a><br>
      {{ software.owner }}<br>
      {{ software.dateCreation }}<br>
      {{ _('Cadastrado por') }}: <a href="{{ url_for('main.user', username=software.author.username ) }}">
        {{ software.author.username }} </a>
    </td>
  </tr>
</table>
