{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Sobre</h1><br><br><br>
    <p class="text-justify">
      Objetivo de Dados Livres. <br><br>
      Dados Livres surgiu inicialmente como um projeto de pesquisa do IFRN —
      campus Ceará-Mirim, no ano de 2019, aonde partiu do interesse de dois
      alunos (Luiz Felipe e <a href="#" id="color-red">Carolina Soares</a>) que queriam começar a contribuir
      com projetos licenciados em Software Livre. Logo, a ideia de desenvolver
      uma Plataforma Livre de Dados Abertos Governamentais foi apresentada
      pelo professor e mestre <a href="#" id="color-red">Pedro Baesse</a>.
      <br><br>Diferenciais de Dados Livres.<br>
      <br><br>Dados Abertos Governamentais.<br>
      <br><br>Disponibilizar informação fácil. Engajamento/Colaboração de público<br>
      <br><br>Participação popular, democracia, controle social,
      transparência para reivindicar mudanças e decidir novos projetos de lei.
    </p>
  </div>
</div>
{% endblock %}
