{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="pt-br"{% endblock %}
{% block title %}{{ _('Dados Livres') }}{% endblock %}
<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<!-- Style CSS -->
{% block styles %}{{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-tagsinput-latest/src/bootstrap-tagsinput.css')}}">
  <link rel="icon" href="{{url_for('static', filename='image/Simbolo-Dados-Livres.png')}}">
{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ url_for('main.index') }}">
          <img class="navbar-brand" src="../static/image/Logo-Dados-Livres.png" alt="Logo Dados Livres (dadoslivres.org)"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('main.explore') }}" id="color-red">{{ _('Encontrar Fontes e Aplicações') }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="color-red">{{ _('Registrar Fonte / Aplicação') }}</a>
            <div class="dropdown-menu" style="background-color: #F1F2EE;">
              <ul class="separator">
                <li class="text-center"><a href="{{ url_for('main.register_source') }}">{{ _('Registrar Fonte de Dados Abertos') }}</a></li>
                <li class="text-center"><a href="{{ url_for('main.register_software') }}">{{ _('Registrar Aplicação') }}</a></li>
              </ul>
            </div>
          </li>
          {% if current_user.is_anonymous %}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="color-red">{{ _('Entrar / Inscreva-se') }}</a>
            <div class="dropdown-menu" style="background-color: #F1F2EE;">
              <ul class="separator">
                <li class="text-center"><a href="{{ url_for('auth.login') }}">{{ _('Entre com sua conta em Dados Livres') }}</a></li>
                <li class="text-center"><a href="{{ url_for('auth.register') }}">{{ _('Ainda não tem conta? Inscreva-se') }}</a></li>
              </ul>
            </div>
          </li>
          {% else %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="color-red">{{ _('Usuário') }}</a>
              <div class="dropdown-menu" style="background-color: #F1F2EE;">
                <ul class="separator">
                  <li class="text-center"><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Ver Perfil') }}</a></li>
                  <li class="text-center"><a href="{{ url_for('main.edit_profile') }}"> {{ _('Editar Perfil') }}</a></li>
                  <!-- <li class="text-center"><a href="{{ url_for('main.edit_password') }}"> {{ _('Editar Senha') }}</a></li>-->
                  <li class="text-center"><a href="{{ url_for('auth.logout') }}">{{ _('Sair') }}</a></li>
                </ul>
              </div>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="color-red">{{ _('Saiba Mais') }}</a>
            <div class="dropdown-menu" style="background-color: #F1F2EE;">
              <ul class="separator">
                <li class="text-center"><a href="{{ url_for('main.about') }}" target="_blank">{{ _('Sobre Dados Livres') }}</a></li>
                <li class="text-center"><a href="{{ url_for('main.how_to_contribute') }}" target="_blank">{{ _('Como Contribuir?') }}</a></li>
                <li class="text-center"><a href="{{ url_for('main.contact') }}" target="_blank">{{ _('Contato') }}</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <br><div class="alert alert-info text-center" role="alert">{{ message }}</div><br>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {# application content needs to be provided in the app_content block #}
      {% block app_content %}{% endblock %}
    </div>
    <!-- footer -->
    <hr><p class="text-muted copyright text-center">
       &copy; Dados Livres 2019. Licenciado com licença Creative Commons. </p>
       <p class="text-muted text-center"><a href="#" target="_blank" id="color-red">Grupo Dados Livres no Telegram <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="0.97em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 496 512"><path d="M248 8C111 8 0 119 0 256s111 248 248 248s248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7l-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1l114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4l-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z" fill="#9d0208"/></svg></p>
{% endblock %}
{% block scripts %}{{super()}}
<!-- JavaScript, JQuery-ui -->
  <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/myscripts.js') }}"></script>
<!-- bootstrap-tagsinput -->
  <script src="{{url_for('static', filename='bootstrap-tagsinput-latest/src/bootstrap-tagsinput-angular.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js')}}"></script>
{% endblock %}
