{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="pt-br"{% endblock %}
{% block title %}{{ _('Dados Livres') }}{% endblock %}
<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Style CSS -->
{% block styles %}{{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-tagsinput-latest/src/bootstrap-tagsinput.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}">
  <link rel="icon" href="data:;base64,=">
{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ _('dadoslivres.org') }}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('main.index') }}">{{ _('Página Inicial') }}</a></li>
          <li><a href="{{ url_for('main.explore') }}">{{ _('Fontes e Aplicações') }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.login') }}">{{ _('Entrar') }}</a></li>
            <li><a href="{{ url_for('auth.register') }}">{{ _('Inscreva-se') }}</a></li>
          {% else %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ _('Registrar Fonte/Aplicação') }}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('main.register_source') }}">{{ _('Registrar fonte de dados abertos') }}</a>
                <a class="dropdown-item" href="{{ url_for('main.register_software') }}">{{ _('Registrar aplicação') }}</a>
              </div>
            </li>
            <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Perfil') }}</a></li>
            <li><a href="{{ url_for('auth.logout') }}">{{ _('Sair') }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}<br><hr><br>
  <footer class="footer">
    <div class="row">
      <div class="col-md-6 col-sm-12">
         <img src="../static/image/logoprovisoria.png" alt="Logo de DadosLivres.org"><br><br>
      </div><br>
      <div class="col-md-6 col-sm-12">
        <p class="lead">Colabore no GitLab</p>
        <p class="lead">Grupo no Telegram</p>
        <p><a href="#" id="color-red">dadoslivre@gmail.com</a></p>
      </div>
    </div><br>
    <div class="row">
    	<div class="col-md-3"></div>
    		<div class="col-md-12 text-center">
          <p class="text-muted copyright"> &copy; <a href="{{ url_for('main.index') }}" id="color-black">Dados Livres</a> 2019.
            Este projeto é fundado por <a href="https://t.me/pbaesse" target="_blank" id="color-black">Pedro Baesse</a>,
            desenvolvido por <a href="https://t.me/carols0" target="_blank" id="color-black">Carolina Soares</a> e
            <a href="#" id="color-black">contribuidores</a>. <a href="{{ url_for('main.sobre') }}" target="_blank" id="color-black">Saiba mais sobre dadoslivres.org</a>. <br>
            Dados Livres é licenciado com licença Creative Commons.</p>
        </div>
      <div class="col-md-3"></div>
    </div>
  </footer>
</div>
{% endblock %}
<!-- JavaScript, jQuery, popper -->
{% block scripts %}{{super()}}
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/myscripts.js') }}"></script>
  <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
{% endblock %}
