{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<div class="container">
		<div class="row">
			<h1 class="text-center">{{ _('Descubra diversas Fontes de Dados Abertos e Aplicações') }}</h1><hr><br><br>
			<div class="col-md-2"></div>
			<div class="col-md-8 text-justify">
				<p><strong>Fontes de Dados Abertos</strong></p><br>
				{% for post in posts %}
					{% include '_post.html' %}<br>
				{% endfor%}<br><br><br>
				<p><strong>Aplicações</strong></p><br>
				{% for software in softwares %}
					{% include '_software.html' %}<br>
				{% endfor%}
			</div>
			<div class="col-md-2"></div>
		</div><br><br><br>
		<div class="row">
			<h2 class="text-center">Não encontrou a fonte ou aplicação que queria?</h2><br>
			<p class="text-center">Experimente <a href="{{ url_for('main.register_source') }}" id="color-red">
				{{ _('cadastrar uma nova Fonte de Dados Abertos') }}</a> |
				<a href="{{ url_for('main.register_software') }}" id="color-red">
				{{ _('cadastrar uma nova Aplicação') }}</a></p><br><br>
		</div>
	</div>
{% endblock %}
