{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">{{ _('Fontes de Dados Abertos e Aplicações') }}</h1><br><br><br>
				<p class="lead"><strong>Fontes de Dados Abertos</strong></p><br>
				{% for post in posts %}
					{% include '_post.html' %}<hr><br>
				{% endfor%}<br><br><br>
				<p class="lead"><strong>Aplicações</strong></p><br>
				{% for software in softwares %}
					{% include '_software.html' %}<hr><br>
				{% endfor%}
			</div>
		</div><br><br><br>
		<div class="row">
			<div class="col-md-12">
			<h2>Não encontrou a fonte ou aplicação que queria?</h2><br><br>
			<ul><li><p><a href="{{ url_for('main.register_source') }}" id="color-black">
				{{ _('Cadastrar uma nova Fonte de Dados Abertos') }}</a></li></p>
					<li><p><a href="{{ url_for('main.register_software') }}" id="color-black">
				{{ _('Cadastrar uma nova Aplicação') }}</a></li></p>
			</ul><br><br>
			</div>
		</div>
{% endblock %}
