{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
			<h1>{{ _('Dados Livres!') }}</h1>
			<hr>
			<p>{{ _('Plataforma Livre de Dados Abertos Governamentais para
				cadastramento e visualização de fontes de dados abertos governamentais
				 e aplicações que fazem uso desse tipo de informação. Afim de promover
				 o controle social e gerar transparência governamental para o público.') }}</p>

			<br>
			<h2>Principais categorias para fontes/aplicações</h2>
			<hr>
			<p><a href="{{ url_for('main.category') }}">Esfera Federal</a></p>
			<p><a href="{{ url_for('main.category') }}">Esfera Estadual</a></p>
			<p><a href="{{ url_for('main.category') }}">Esfera Municipal</a></p>
			<p><a href="{{ url_for('main.category') }}">Saúde</a></p>
			<p><a href="{{ url_for('main.category') }}">Educação</a></p>
			<p><a href="{{ url_for('main.category') }}">Tecnologia</a></p>
			<p><a href="{{ url_for('main.category') }}">Segurança Pública</a></p>
			<p><a href="{{ url_for('main.category') }}">Meio Ambiente</a></p>
			<p><a href="{{ url_for('main.category') }}">Cultura</a></p>
			<p><a href="{{ url_for('main.category') }}">Países</a></p>
			<p><a href="{{ url_for('main.category') }}">IBGE</a></p>
			<p><a href="{{ url_for('main.category') }}">Cinema</a></p>
			<p><a href="{{ url_for('main.category') }}">Clima</a></p>
			<br>

			<h2>Lista de fontes e aplicações já cadastradas</h2>
			{% for post in posts %}
				{% include '_post.html' %}<br>
			{% endfor %}
			<br>
			{% for software in softwares %}
				{% include '_software.html' %}<br>
			{% endfor %}

			{% if prev_url %}
			<a href="{{ prev_url }}">Mais recentes</a>
			{% endif %}
			{% if next_url %}
			<a href="{{ next_url }}">Mais antigas</a>
			{% endif %}
{% endblock %}
