{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
			<h1>{{ _('Dados Livres!') }}</h1>
			<hr>
			<p>{{ _('Plataforma Livre de Dados Abertos Governamentais para
				cadastramento e visualização de fontes de dados abertos governamentais
				 e aplicações que fazem uso desse tipo de informação. Afim de promover
				 o controle social e gerar transparência governamental para o público.') }}</p>

			<br>
			<h2>Principais categorias para fontes/aplicações</h2>
			<hr>
			<p>Esfera Federal</p>
			<p>Esfera Estadual</p>
			<p>Esfera Municipal</p>
			<p>Saúde</p>
			<p>Educação</p>
			<p>Ciência e Tecnologia</p>
			<p>Segurança Pública</p>
			<p>Meio Ambiente</p>
			<p>Cultura</p>
			<p>Países</p>
			<p>IBGE</p>
			<p>Música</p>
			<p>Cinema</p>
			<p>Clima</p>
			<br>

			<h2>Lista de fontes e aplicações já cadastradas</h2>
			{% for post in posts %}
				{% include '_post.html' %}<br>
			{% endfor %}
			<br>
			{% for software in softwares %}
				{% include '_software.html' %}<br>
			{% endfor %}

			{% if prev_url %}
			<a href="{{ prev_url }}">Mais recentes</a>
			{% endif %}
			{% if next_url %}
			<a href="{{ next_url }}">Mais antigas</a>
			{% endif %}
{% endblock %}
