{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="container">
	<h1 class="text-center">{{ _('Dados Livres') }} <small>(<a href="{{ url_for('main.index') }}" id="color-red">dadoslivres.org</a>)</small></h1><br>
	<p class="lead text-center">{{ _('Plataforma Dados Livres que permite o <strong>compartilhamento</strong> e a
	<strong>colaboração</strong> na <strong>identificação de Fontes de Dados Abertos e Aplicações
	que fazem uso desse tipo de informação</strong>, de modo a gerar <strong>controle social</strong>
	e <strong>transparência pública</strong> para a sociedade civil.') }}</p><hr><br><br>
<div class="row">
	<h2 class="text-center">{{ _('Encontre as principais categorias em Fontes de Dados Abertos e Aplicações') }}</h2><br><br>
	<div class="col-md-4 col-sm-12">
		<h4><a class="topic-grid-item" href="{{ url_for('category.CoronaVirus') }}" id="category-link">Corona Vírus</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Saude') }}" id="category-link">Saúde</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Educacao') }}" id="category-link">Educação</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Cultura') }}" id="category-link">Cultura</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Clima') }}" id="category-link">Clima</a></h4>
	</div>
	<div class="col-md-4 col-sm-12">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Cinema') }}" id="category-link">Cinema</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Musica') }}" id="category-link">Música</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Tecnologia') }}" id="category-link">Tecnologia</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Paises') }}" id="category-link">Países</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Lazer') }}" id="category-link">Lazer</a></h4>
	</div>
	<div class="col-md-4 col-sm-12">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Ciencia') }}" id="category-link">Ciência</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.SegurancaPublica') }}" id="category-link">Segurança Pública</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.MeioAmbiente') }}" id="category-link">Meio Ambiente</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.IBGE') }}" id="category-link">IBGE</a></h4>
	</div>
</div><br><br>
<p class="lead text-center"><a href="{{ url_for('main.explore') }}" id="color-black">
		<strong>Descubra mais Fontes de Dados Abertos e outras Aplicações aqui</strong></a></p><br><br><br>
<div class="row">
	<h2 class="text-center">{{ _('Fonte de Dados Abertos e Aplicação registradas recentemente') }}</h2><br><br>
	<div class="col-md-3"></div>
		<div class="col-md-6 text-justify">
			{% for post in posts %}
				<h4><strong><a href="{{ url_for('main.post', title=post.title) }}" id="color-black">{{ post.title }}</a></strong>
					<small>(<a href="{{ post.officialLink }}" target="_blank" id="color-red">{{ post.officialLink }}</a>)</small></h4>
				<p>Palavras-Chaves: {{ post.tag }} | Categoria: <a href="category/{{ post.category }}" id="color-red">{{ post.category }}</a> |
				Esfera: {{ post.sphere }}<br>
				Descrição: {{ post.description }}</p>
				<p>{{ _('Fonte registrada por') }}:<a href="{{ url_for('main.user', username=post.author.username ) }}" id="color-red">
					{{ post.author.username }}</a></p>
			{% endfor %}<br>
			{% for software in softwares %}
				<h4><strong><a href="{{ url_for('main.software', title=software.title) }}" id="color-black">{{ software.title }}</a></strong>
					<small>(<a href="{{ software.officialLink }}" id="color-red" target="_blank">{{ software.officialLink }}</a>)</small></h4>
				<p>Palavras-Chaves: {{ software.tag }} | Categoria: <a href="category/{{ software.category }}" id="color-red">{{ software.category }}</a> |
				Licença: {{ software.license }}<br>
				Proprietário/Empresa mantedora: {{ software.owner }} | Data de criação: {{ software.dateCreation }} <br>
				Descrição: {{ software.description }}</p>
				<p>{{ _('Aplicação registrada por') }}:<a href="{{ url_for('main.user', username=software.author.username ) }}" id="color-red">
				{{ software.author.username }}</a></p>
			{% endfor %}
		</div>
	<div class="col-md-3"></div>
</div>
</div><br><br>
{% endblock %}
