{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h2>{{ post.title }}</h2><br>
  {% if post.officialLink %}<p><a href="{{ post.officialLink }}" target="_blank">
    {{ post.officialLink }}</a></p>{% endif %}
  {% if post.tag %}<p>{{ post.tag }}</p>{% endif %}
  <p>{% if post.categorie %}{{ _('Categoria') }}:<a href="#">{{ post.categorie }}</a>{% endif %} |
  {% if post.sphere %}{{ _('Esfera') }}: {{ post.sphere }}{% endif %}</p>
  {% if post.description %}<p>{{ post.description }}</p>{% endif %}<br>

  {% if not current_user.is_anonymous %}
    <p><a href="{{ url_for('main.edit_post', id=post.id) }}">{{ _('Editar fonte') }}</a> |
      <a href="{{ url_for('main.deletar_post', id=post.id) }}">{{ _('Excluir fonte') }}</a></p>
  {% endif %}
  <!--  <p><a href="{{ url_for('main.favorite', title=post.title) }}">{{ _('Favoritar') }}</a> |
    <a href="{{ url_for('main.unfavorite', title=post.title) }}">{{ _('Deixar de favoritar') }}</a></p>-->

<hr>
<h4>{{ _('Cadastrado por') }}:
<a href="{{ url_for('main.user', username=post.author.username ) }}">
  {{ post.author.username }}</a></h4><hr><br>

<h2>Você também pode se interessar em: </h2><br>

<h4>Fonte Semelhante</h4>
<h4>Fonte Semelhante</h4>
<h4>Fonte Semelhante</h4><br>

<p>Formulário para semelhantes:</p>
<form class="form-inline">
	{{ form.csrf_token }}
	<div class="form-group">
	    {{form.name(class="form-control")}}
	  </div>
	  <button type="submit" class="btn btn-info">Salvar</button>
</form>

<br><br><p>Experimente <a href="{{ url_for('main.register_source') }}">
  {{ _('Cadastrar uma nova fonte de dados') }}</a> |
  <a href="{{ url_for('main.register_software') }}">
  {{ _('Cadastrar um novo software') }}</a></p><br><br>

<h2>Comentários</h2>
<p>Aguarde! em breve você poderá deixar comentários aqui :)</p>

{% if prev_url %}
<a href="{{ prev_url }}">Mais recentes</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Mais antigas</a>
{% endif %}

{% endblock %}
