{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
	<h2 class="text-center">{{ _('Encontre as principais categorias em Aplicações') }}</h2><br><br><br>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.CoronaVirus_Software') }}" id="category-link">Corona Vírus</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Saude_Software') }}" id="category-link">Saúde</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Educacao_Software') }}" id="category-link">Educação</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Cultura_Software') }}" id="category-link">Cultura</a></h4>
	</div>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Cinema_Software') }}" id="category-link">Cinema</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Musica_Software') }}" id="category-link">Música</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Tecnologia_Software') }}" id="category-link">Tecnologia</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Paises_Software') }}" id="category-link">Países</a></h4>
	</div>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Ciencia_Software') }}" id="category-link">Ciência</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.SegurancaPublica_Software') }}" id="category-link">Segurança Pública</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.MeioAmbiente_Software') }}" id="category-link">Meio Ambiente</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.IBGE_Software') }}" id="category-link">IBGE</a></h4>
	</div>
	<div class="col-md-2"></div><div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Clima_Software') }}" id="category-link">Clima</a></h4>
	</div><div class="col-md-2"></div><div class="col-md-2"></div>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Lazer_Software') }}" id="category-link">Lazer</a></h4>
	</div><div class="col-md-2"></div>
</div>
{% endblock %}
