{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
	<h2 class="text-center">{{ _('Encontre as principais categorias em Fontes') }}</h2><br>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Covid19_Source') }}" id="category-link">Corona Vírus</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Health_Source') }}" id="category-link">Saúde</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Education_Source') }}" id="category-link">Educação</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Culture_Source') }}" id="category-link">Cultura</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.PublicSpending_Source') }}" id="category-link">Gastos Públicos</a></h4>
	</div>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.MovieTheater_Source') }}" id="category-link">Cinema</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Music_Source') }}" id="category-link">Música</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Technology_Source') }}" id="category-link">Tecnologia</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Countries_Source') }}" id="category-link">Países</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Recreation_Source') }}" id="category-link">Lazer</a></h4>
	</div>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Science_Source') }}" id="category-link">Ciência</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.PublicSpending_Source') }}" id="category-link">Segurança Pública</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Environment_Source') }}" id="category-link">Meio Ambiente</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.IBGE_Source') }}" id="category-link">IBGE</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Climate_Source') }}" id="category-link">Clima</a></h4>
	</div>
</div>
{% endblock %}
