{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
	<h2 class="text-center">{{ _('Encontre as principais categorias em Fontes de Dados Abertos') }}</h2><br><br><br>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.CoronaVirus_Source') }}" id="category-link">Corona Vírus</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Saude_Source') }}" id="category-link">Saúde</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Educacao_Source') }}" id="category-link">Educação</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Cultura_Source') }}" id="category-link">Cultura</a></h4>
	</div>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Cinema_Source') }}" id="category-link">Cinema</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Musica_Source') }}" id="category-link">Música</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Tecnologia_Source') }}" id="category-link">Tecnologia</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.Paises_Source') }}" id="category-link">Países</a></h4>
	</div>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Ciencia_Source') }}" id="category-link">Ciência</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.SegurancaPublica_Source') }}" id="category-link">Segurança Pública</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.MeioAmbiente_Source') }}" id="category-link">Meio Ambiente</a></h4>
		<h4><a class="topic-grid-item" href="{{ url_for('category.IBGE_Source') }}" id="category-link">IBGE</a></h4>
	</div>
	<div class="col-md-2"></div><div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Clima_Source') }}" id="category-link">Clima</a></h4>
	</div><div class="col-md-2"></div><div class="col-md-2"></div>
	<div class="col-md-4">
		<h4><a class="topic-grid-item" href="{{ url_for('category.Lazer_Source') }}" id="category-link">Lazer</a></h4>
	</div><div class="col-md-2"></div>
</div>
{% endblock %}
